@import "../utils/commonStyle";

.UpperPanelStyle {
    /*background: $backgroundLinearGradient;*/
    height: 8vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-start;
    padding-right: 20px;
    align-content: center;
    flex-wrap: wrap;
    font-size: $fontSizeMed;
}
