@font-face {
    font-family: adobe-clean;
    src: local("AdobeClean-Light"),
        url(AdobeClean-Light.ttf);
}
.menu {
    /* width: 200px; */
    /*padding: 50px;*/
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    font-family: adobe-clean, sans-serif;
    font-size: 2.2vw;
    background: rgba(255, 255, 255, 0);
}

.menu-mainManu{
    text-align: center;
    left: 0;
    cursor: pointer;
    padding-top: 5vh;
    height: 5vh;
}

.menu-subMenu{
    width: 10vw;
    height: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(4, 185, 187, 0.4), rgba(145, 0, 229, 0.51));
    border-radius: 10px;
    color: white;
}

.menu-item {
    text-align: center;
    left: 0;
    cursor: pointer;
    padding: 5px;
    /*height: 28px;*/
    font-size: 0.9vw;
}

.menu-mainManu:hover {
    color: #051f7e;
}
