@import "src/utils/commonStyle.scss";

@font-face {
    font-family: adobe-clean;
    src: local("AdobeClean-Light"),
        url(AdobeClean-Light.ttf);
}

.menu-ButtonStyleLikeMenu{
    @extend .menu;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.menu {
    /*padding: 50px;*/
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    font-family: adobe-clean, sans-serif;
    font-size: $fontSizeBig;
    background: rgba(255, 255, 255, 0);
    color: $textColorBlack;
    text-shadow: 0 2px 3px $textShadow;
    &:hover,
    &:active {
        color: $textColorHover;
        background: $radialShadowGradient;
        border-radius: 15px;
        text-shadow: 0 2px 3px $textShadowHover;
    }
}

.menu-mainMenu{
    width: 100%;
    text-align: center;
    left: 0;
    cursor: pointer;
    padding-top: 2vh;
    padding-bottom: 2vh;
    height: min-content;
}

.menu-subMenu{
    cursor: pointer;
    width: available;
    height: available;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: $backgroundLinearGradient;
    border: none;
    border-radius: 10px;
}

.menu-subMenuButtons{
    cursor: pointer;
    height: max-content;
    /* display: flex; */
    background: transparent;
    border: none;
    padding: 1vh;
    text-align: center;
    outline:0;
    font-size: $fontSizeMed;
    font-family: adobe-clean, sans-serif;
    text-shadow: 0 2px 3px $textShadow;
    &:hover,
    &:active {
        background: $radialShadowGradient;
        border-radius: 10px;
        color: $textColorHover;
        text-shadow: 0 2px 3px $textShadowHover;
    }
 }

.menu-item {
    text-align: center;
    left: 0;
    cursor: pointer;
    padding: 5px;
    /*height: 28px;*/
    font-size: $fontSizeMed;
}


