@import "src/utils/commonStyle.scss";

@font-face {
    font-family: adobe-clean;
    src: local("AdobeClean-Light"),
        url(AdobeClean-Light.ttf);
}

.menu-ButtonStyleLikeMenu{
    @extend .menu;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px transparent;
    font-family: adobe-clean, sans-serif;
    font-size: $fontSizeBig;
    background: rgba(255, 255, 255, 0);
    color: $textColorBlack;
    text-shadow: 0 2px 3px $textShadow;
    &:hover,
    &:active {
        box-shadow: inset 0 0 15px rgba(19, 19, 19, 0.2);
        color: $textColorHover;
        background: transparent;
        text-shadow: 0 2px 3px $textShadowHover;
    }
}

.menu-mainMenu{
    width: 100%;
    text-align: center;
    left: 0;
    cursor: pointer;
    padding-top: 2vh;
    padding-bottom: 2vh;
    height: min-content;
}

.menu-subMenu{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: $backgroundLinearGradient;
    border: none;
    border-radius: 10px;
    animation: menuAnvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) alternate;
}

@keyframes menuAnvil {
    0% {
        transform:translateX(-40%);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
        pointer-events: none;
    }
    85%{
      transform: translateX(1%);
      opacity: 1;
      box-shadow: 0 0 0 rgba(241, 241, 241, 0);
      pointer-events: none;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
        box-shadow: 0 0 500px rgba(241, 241, 241, 0);
        pointer-events: auto;
    }
}

.menu-subMenuButtons{
    cursor: pointer;
    height: max-content;
    background: transparent;
    border: none;
    padding: 1vh;
    text-align: center;
    outline:0;
    font-size: $fontSizeMed;
    font-family: $font;
    text-shadow: 0 2px 3px $textShadow;
    &:hover,
    &:active {
        background: $radialShadowGradient;
        border-radius: 10px;
        color: $textColorHover;
        text-shadow: 0 2px 3px $textShadowHover;
    }
 }

.menu-item {
    text-align: center;
    left: 0;
    cursor: pointer;
    padding: 5px;
    font-size: $fontSizeMed;
}



