@font-face {
    font-family: adobe-clean;
    src: local("AdobeClean-Light"),
        url(AdobeClean-Light.ttf);
}
.menu {
    /* width: 200px; */
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    font-family: adobe-clean, sans-serif;
    font-size: 30px;
    background: rgba(255, 255, 255, 0);
}
.menu-item {
    cursor: pointer;
    padding: 5px;
    height: 28px;
}
.menu-item:hover {
    color: #051f7e;
}
