@import "src/utils/commonStyle.scss";

@font-face {
    font-family: adobe-clean;
    src: local("AdobeClean-Light"),
        url(AdobeClean-Light.ttf);
}

.menu-ButtonStyleLikeMenu{
    @extend .menu;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.menu {
    /*padding: 50px;*/
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    font-family: adobe-clean, sans-serif;
    font-size: $fontSizeBig;
    background: rgba(255, 255, 255, 0);
    color: $textColorBlack;
    text-shadow: 0 2px 3px $textShadow;
    &:hover,
    &:active {
        color: $textColorHover;
        background: $radialShadowGradient;
        border-radius: 15px;
        text-shadow: 0 2px 3px $textShadowHover;
    }
}

.menu-mainMenu{
    width: 100%;
    text-align: center;
    left: 0;
    cursor: pointer;
    padding-top: 2vh;
    padding-bottom: 2vh;
    height: min-content;
}

.menu-subMenu{
    cursor: pointer;
    width: available;
    height: available;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: $backgroundLinearGradient;
    border: none;
    border-radius: 10px;
    -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

@keyframes anvil {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    1% {
        transform: scale(0.96) translateY(10px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
        box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
}

.menu-subMenuButtons{
    cursor: pointer;
    height: max-content;
    /* display: flex; */
    background: transparent;
    border: none;
    padding: 1vh;
    text-align: center;
    outline:0;
    font-size: $fontSizeMed;
    font-family: $font;
    text-shadow: 0 2px 3px $textShadow;
    &:hover,
    &:active {
        background: $radialShadowGradient;
        border-radius: 10px;
        color: $textColorHover;
        text-shadow: 0 2px 3px $textShadowHover;
    }
 }

.menu-item {
    text-align: center;
    left: 0;
    cursor: pointer;
    padding: 5px;
    /*height: 28px;*/
    font-size: $fontSizeMed;
}



