@import "src/utils/commonStyle";

.ButtonStyle {
    background-color: white;
    color: $borderColor;
    border-radius: 0.5em;
    border-color: $borderColor;
    font-family: $font;
    font-size: $fontSizeMed;
    text-decoration: none;
    height: max-content;
    padding: 1vh 2vw;
    min-width: 10vw;
    text-align: center;
    transition: all .1s;
    overflow: hidden;
    position: relative;
    z-index: 1;
    &:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: -70%;
        width: 70%;
        height: 105%;
        transition: all .3s;
        background-color: $borderColor;
        border-radius: 0.5em;
        z-index: -1;
    }
    &:before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 100%;
        width: 70%;
        height: 105%;
        transition: all .2s;
        background-color: $borderColor;
        border-radius: 0.5em;
        z-index: -1;
    }
    &:hover {
        color: $textColorBlack;
        &:after {
            transform: translateX(95%);
        }
        &:before {
            transform: translateX(-95%);
        }
    }
}
