@font-face {
    font-family: adobe-clean;
    src: local("AdobeClean-Light"),
    url(AdobeClean-Light.ttf);
}

.ButtonLoginStyle {
    display: flex;
    height: 4vh;
    font-family: adobe-clean, sans-serif;
    background-color: rgba(0, 0, 75, 0);
    color: white;
    padding: 1.1vh 1.3vw;
    font-size: 1.4vh;
    border-radius: 10px;
    outline: 0;
    text-transform: uppercase;
    margin: 1vh 0px;
    cursor: pointer;
    box-shadow: 0px 2px 2px #9b3b3b;
    transition: ease background-color 250ms;
}

.ButtonStyle {
    background-color: transparent;
    color: white;
    padding: 10px 10px;
    margin: 10px 0px;
    border: none;
    font-family: adobe-clean, sans-serif;
    font-size: 20px;
}

.ButtonStyle:hover{
    background: rgba(0,0,0, 0.2);
    border-radius: 10px;
    color: #051f7e;
}
