@import "src/utils/commonStyle";

.ButtonLoginStyle {
    display: initial;
    height: 5.5vh;
    font-family: $font;
    background-color: rgba(0, 0, 75, 0);
    color: black;
    text-shadow: 0px 2px 3px $textShadow;
    padding: 1.1vh 1.1vw 1.1vw 1.1vw;
    font-size: $fontSizeMed;
    border-radius: 10px;
    outline: 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
    cursor: pointer;
    box-shadow: 0px 2px 3px $textShadow;
    transition: ease background-color 250ms;
}

.ButtonLoginStyle:hover {
    background: $radialShadowGradient;
    border-radius: 10px;
    color: $textColorHover;
    text-shadow: 0px 2px 3px $textShadowHover;
}

.ButtonStyle {
    background-color: transparent;
    color: $textColorBlack;
    border: none;
    font-family: $font;
    font-size: $fontSizeMed;
    height: max-content;
    padding: 1vh;
    text-align: center;
}

.ButtonStyle:hover{
    background: $radialShadowGradient;
    border-radius: 10px;
    color: $textColorHover;
}
