@font-face {
    font-family: adobe-clean;
    src: local("AdobeClean-Light"),
    url(AdobeClean-Light.ttf);
}

@import "src/utils/commonStyle.scss";

.modal {
    font-family: $font;
    font-size: $fontSizeMed;
    border-radius: 13px;
    background: $backgroundRadialGradient;
    /*width: 20vw;*/
}
.modal > .header {
    /*border-bottom: 1px $borderColor;*/
    font-size: 3.5vh;
    text-align: center;
    padding-bottom: 2vh;
    padding-top: 2vh;
}
.modal > .content {
    /*width: 100%;*/
    padding: 2vh 0vw;
    /*border-bottom: 1px $borderColor;*/
}
.modal > .actions {
    font-size: $fontSizeMed;
    flex-direction: row;
    width: 100%;
    padding: 2vh 0vw;
    margin: auto;
    text-align: center;
}
.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}
