@font-face {
    font-family: adobe-clean;
    src: local("AdobeClean-Light"),
    url(AdobeClean-Light.ttf);
}

.modal {
    font-family: adobe-clean, sans-serif;
    font-size: 12px;
    border-radius: 13px;
    background: radial-gradient(rgba(4, 96, 187, 1), rgba(95, 4, 150, 0.8));
    /*width: 20vw;*/
}
.modal > .header {
    border-bottom: 1px solid black;
    font-size: 18px;
    text-align: center;
    padding-bottom: 2vh;
    padding-top: 2vh;
}
.modal > .content {
    /*width: 100%;*/
    padding: 2vh 0vw;
    border-bottom: 1px solid black;
}
.modal > .actions {
    flex-direction: row;
    width: 100%;
    padding: 2vh 0vw;
    margin: auto;
    text-align: center;
}
.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}
