@import "../../../utils/commonStyle";

.viewHeader{
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    padding-bottom: 2vh;
    padding-top: 2vh;
    border-bottom: 2px $borderColor;
    text-align: center;
    color: $textColorBlack;
}
