@import "../../../utils/commonStyle";
@import "src/component/CommonComponent/Button/Buttons";

#viewHeader{
    @extend .DefaultView;
    width: 50%;
    position: fixed;
    box-shadow: 0 1em 1em -1em rgba(0, 0, 0, .25);
}

#viewHeader > button {
    @extend .ButtonStyle;
    position: absolute;
    top: 15%;
    bottom: 15%;
    right: -29%;
}

.DefaultView{
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    padding-bottom: 2vh;
    padding-top: 2vh;
    text-align: center;
    color: $textColorBlack;
}

.CenterContent{
    display: flex;
    width: 80%;
    height: 83%;
    align-content: flex-start;
    justify-content: center;
    position: fixed;
    top: 17%;
    align-items: center;
}

