@import "./src/utils/commonStyle";

$Height: 92vh;

#content {
  height: $Height;
  display: block;
}

#content > h1 {
  padding-top: 2vh;
  margin: 0;
  font-family: $font;
  display: flex;
  position: relative;
  left: 25%;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-shadow: 0 0.5em 0.7em -0.5em rgba(0, 0, 0, .25);
}
#content > div {
  justify-content: flex-start;
  align-content: flex-start;
  font-family: adobe-clean, sans-serif;
  font-size: 2.5vh;
  flex-direction: column;
  height: calc($Height - 2vh - 2em - 0.67em - 0.67em - 1vh);
}

#content > div > div {
  margin: 0;
  font-family: $font;
  display: flex;
  position: relative;
  top: calc($Height - 30vh);
  left: 25%;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
