@import "src/utils/commonStyle";

label {
  display: flex;
  text-align: center;
  align-items: center;
}

label > input {
  border-radius: 0.5em;
  border-color: $borderColor;
  text-align: center;
  height: 4vh;
  width: 20vw;
  &:hover, &:focus {
    border-color: $borderColor;
    outline: none;
  }
}
