.LeftPanelStyle {
    /*background: rgba(0, 0, 75, 0);*/
    /*backgroundColor: 'transparent';*/
    /*height: 90vw;*/
    width: 25vw;
    /*width: max-content;*/
    flex-direction: column;
    align-items: stretch ;
    align-content: center;
    justify-content: flex-start;
    display: flex;
    padding-top: 40px;
    /*margin-left: 0.5vw;
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 10px;*/
}
