@font-face {
  font-family: adobe-clean;
  src: local("AdobeClean-Light"),
  url(AdobeClean-Light.ttf);
}

$font: adobe-clean, sans-serif;

$fontSizeMed: 2.5vh;
$fontSizeSmall: 2vh;
$fontSizeBig: 4vh;

$textColorWhite: white;
$textColorBlack: #1a1a1a;
$textShadow: rgba(26, 26, 26, 0.4);

$textColorHover: #f5f7f8;
$textShadowHover: rgba(253, 255, 255, 0.4);

$borderColor: solid rgba(0, 0, 0, 1);

$backgroundRadialGradient: radial-gradient(rgba(4, 185, 187, 1), rgba(145, 0, 229, 1));
$radialShadowGradient: radial-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2));
$backgroundLinearGradient: linear-gradient(123deg, rgba(4, 185, 187, 0.60), rgba(145, 0, 229, 0.75));
$backgroundGray: #cdd0d0;
