@import "../../utils/commonStyle";

.MainScreen {
  justify-content: center;
  height: 92vh;
  background: $backgroundRadialGradient;
}

.MainScreen-MainContent {
  height: 92vh;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  align-content: stretch;
}

.MainScreen-logo {
  width: auto;
  height: 20vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.MainScreen-header {
  width: 79%;
  background-color: $backgroundGray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: $textColorWhite;
  border: 2px $borderColor;
  border-radius: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

