.UpperPanelStyle {
    background-color: #761c1c;
    min-height: 10vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: normal;
    font-size: calc(10px + 2vmin);
}