@import "../../utils/commonStyle";

.actions{
    display: flex;
    justify-content: center;
}

.content{
    display: flex;
}

.loginButtons{
    /*display: block;*/
    height: max-content;
    /* display: flex; */
    background: transparent;
    border: none;
    padding: 1vh;
    text-align: center;
    font-size: $fontSizeMed;
}

.loginButtons:hover{
    color: $textColorHover;
    background: $radialShadowGradient;
    border-radius: 15px;
    text-shadow: 0px 2px 3px $textShadowHover;
}
