.App {
  height: 100vh;
  background: radial-gradient(rgb(10, 4, 187), rgba(114, 4, 150, 0.8));
}

.App-MainContent {
  height: 94vh;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex
}

.App-logo {
  width: auto;
  height: 20vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: calc(75vw - 4px);
  background-color: #424449;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
