@import "../src/utils/commonStyle";

body{
  overflow: hidden;
}

#App{
  /*background: $backgroundLinearGradient;*/
  overflow: hidden;
}

.color{
  /*filter: blur(6em);*/
  /*border-radius: 50%;*/
  position: absolute;
  filter: blur(1em);
  z-index: -1;
  pointer-events: none;
  top: -5vh;
  left: -5vw;
  border-top: 40vh solid $backgroundFirstColor;
  border-left: 40vw solid $backgroundFirstColor;
  border-right: 70vw solid $backgroundThirdColor;
  border-bottom: 70vh solid $backgroundSecondColor;
}
//
//.color:nth-child(3){
//  /*width: 700px;
//  height: 700px;
//  top: -10%;
//  left: -10%;
//  background: $backgroundFirstColor;*/
//}
//.color:nth-child(4){
//  /*width: 700px;
//  height: 700px;
//  top: 00%;
//  left: 50%;
//  background: $backgroundSecondColor;*/
//}
//.color:nth-child(5){
//  /*width: 600px;
//  height: 600px;
//  top: 40%;
//  left: 25%;
//  background: $backgroundThirdColor;*/
//}
